html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  margin-top: 20px;
}
h3 {
  font-size: 2rem;
  margin-top:15px;
}

canvas {
  background: linear-gradient(45deg, #0d1011 0% 20%, #163486);
}

canvas.green {
  background: linear-gradient(-135deg, #008b8b, #000);
}

